@font-face {
    font-family: Agrandir-Tight;
    src: url('./Agrandir-Tight.ttf');
}
@font-face {
    font-family: Agrandir-GrandLight;
    src: url('./Agrandir-GrandLight.ttf');
}

/* h1{
    font-family:Agrandir-GrandLight;
} */
/* h2{
    font-family:Agrandir-Tight;
} */

#header{
  background: #171717;
  color: #ff611d;
}

#menu{
  width: 15%;

}

h6{
  color: #ff611d;
  text-align: center;
}


#UI{
  color: #ff611d;
}

#inserir{
  margin-top: 1.5%;
}

#btnUpImg{
  margin: 1.5%;
}

#dropdown{
  color: #ff611d;
  margin-right: 5%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 97, 29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ff611d;
} 

#produtos{
  margin-top: 6%;
}

footer{
  color: #FF611D; 
  background-color: #171717;
  width: 100%;
  padding-top: .5rem;
}

#cont{
  font-size: 12px;
}

.tx_sl{
   font-size: 10px;
}

/* #copy{
  margin-top: 7.5rem;
} */

#bread{
  margin-left: 2%;
}

#cadastro{
  margin-top: 5%;
  margin-bottom: 5%;
}

#cartao{
  padding: 5%;
}

#btnSalvar{
  margin-top: 2%;
}

#campo{
  text-align: center;
}

body{
  background-color: #dddddd;
}
