@font-face {
  font-family: Agrandir-Tight;
  src: url('../assets/Agrandir-Tight.ttf');
}

@font-face {
  font-family: Agrandir-GrandLight;
  src: url('../assets/Agrandir-GrandLight.ttf');
}

@font-face {
font-family: Agrandir-TextBold;
src: url('../assets/Agrandir-TextBold.otf');
}

html, body {
  background: #c0c0c0;
  height: 100%;
}

/* h1{
    font-family:Agrandir-GrandLight;
} */
/* h2{
    font-family:Agrandir-Tight;
} */

#header {
  background: #171717;
  color: #ff611d;
}

#menu {
  width: 85%;
}

h6 {
  color: #ff611d;
  text-align: center;
}

.container {
  background-color: #dddddd;
  height: 100%;
  box-shadow: 0px 0px 75px;
  padding-top: 24px;
}

#UI {
  color: #ff611d;
}

#dropdown {
  color: #ff611d;
  margin-right: 5%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 97, 29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ff611d;
}

#produtos {
  margin-top: 6%;
}

footer {
  color: #FF611D;
  background-color: #171717;
  width: 100%;
  padding-top: .5rem;
}

#tato{
  line-height: 1.4;
}

#cont {
  text-decoration: #FF611D;
  color: #FF611D;
  font-size: 12px;
}

#cont:hover{
  color: #0D6EFD;
}

.tx_sl {
  font-size: 10px;
}

#crumb{
  text-decoration: none;
  color: #FF611D;
}

#copy{
  text-decoration: none;
  color: #FF611D;
}

#bread {
  margin-left: 2%;
}

#cadastro{
  margin-top: 5%;
  margin-bottom: 5%;
}
#top-card{
  margin: 15%;
  
}
#bg{
  background-color: #c0c0c0;
}
#btnEntrar h5{
  margin-top: auto;
  margin-bottom: auto;
}
#formUlário{
  margin-bottom: 10px;
}

#conec{
  margin: auto;
  text-align: center;
}

#rede{
  margin: auto;
  color: #c0c0c0;
  font-size: 22px;
  text-align: center;
}

#rede:hover{
  color: #ff611D; 
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #dddddd;
  color: #171717;
  cursor: pointer;
  outline: none;
  border: 3px solid #171717;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #ff611d;
  color: #c0c0c0;  
}

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.card{
transition: .2s;
}
.card:hover{
transform: scale(1.05);
}

#dropdown{
color: #ff611d;
margin-right: 5%;
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 97, 29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: #ff611d;
} 

.btn p{
margin-top: auto;
margin-bottom: auto;
line-height: 42px;
font-size: 115%;
}

.carousel-item img {
border-radius: 10px;
}

.carousel {
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}

#cardHomePage img {
border-radius: 10px;
}

#cardHomePage {
margin-top: 25px;
margin-bottom: 50px;
margin-left: 12.5px;
margin-right: 12.5px;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
border-radius: 10px;
transition: transform .2s;
padding: 10px;
}

.dropdown-item{
color: #ff611d;
}

.dropdown-item:hover{
background-color: #ff611d;
color: white;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.dropdown-menu{
background-color: #424242;
}

#categoria {
background-color: #dddddd;
color: #171717;
width: auto;
font-size: 32px;
font-weight: bold;
font-family: 'Agrandir-TextBold';
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
height: auto;
}

#catButton{
width: 100%;
text-align: center;
background-color: #FF611D;
width: 100%;
margin-left: auto;
margin-right: auto;
font-weight: bold;
font-family: 'Agrandir-TextBold';
color: white;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
height: auto;
}

#catButton:hover {
color: #dddddd;
background-color: #dd500c;
}

#cardHomePage:hover {
transform: scale(1.1);
}

#cardHomePage {
margin-top: 25px;
margin-bottom: 50px;
margin-left: 12.5px;
margin-right: 12.5px;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
border-radius: 10px;
transition: transform .2s;
padding: 10px;
}